div {
	margin: 0 auto;
	width: 80%;
	font-family: monospace;
	background-color: #f0f0f0;
	border: 2px black solid;
	padding: 10px;

	
}
body{
	background-color: #b3d3d2;
	}
hr{
	width: auto;
	color: black;
}
	
	


    
